*{
    margin: 0;
    padding: 0;
}

.pilota {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    border-radius: 50px;
    animation-name: pilota;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pilota {
    0%   {
        left: 0;
        top: 0;
    }
    1% {
        transform: scale(1, 1);
      }

    24% {
        transform: scale(1, 1);
    }

    25%  {
        left: 200px;
        top: 800px;
        transform: scale(1.1, 0.8);
    }

    26%{
        transform: scale(1, 1)
    }

    49% {
        transform: scale(1, 1);
      }

    50%  {
         left:800px;
         top:300px;
         transform: scale(0.8, 1.1) ;
    }

    51%  { 
        transform: scale(1, 1)
    }

    99% {
        transform: scale(1, 1);
      }

    100% {
        left: 0;
        top:0;
        transform: scale(0.8, 1.1)
    }
  }